<div id="topbar_v_1">
	<h3>Group Sketch</h3>
	<p>This is a platform where you can create an interactive whiteboard that allows users to collab. on a drawing</p>
	<div ng-controller="NameController" id="userIn">
		<input type="text" ng-model="name">
		<a ng-click ="login()" href="#/sketch">Click to enter Room</a>
	
	</div>	
</div>
<div id="midbar_v_1">
	<div class="col_v_1">
		<div class= "circle_v_1">1</div>
		<p>Create a virtual whiteboard</p>
		<img src="#"/>
	</div>
	<div class="col_v_1">
		<div class= "circle_v_1">2</div>
		<p>Invite coworkers/friends</p>
		<img src="#"/>
	</div>
	<div class="col_v_1">
		<div class= "circle_v_1">3</div>
		<p>Have fun!</p>
		<img src="#"/>
	</div>
</div>
<div id="bottombar_v_1"></div>

<script>
	
</script>
